[Unit]
Description="flask-app"
After=network.target

[Service]
User=root
Environment="FLASK_APP=/usr/bin/app.py"
ExecStart=flask run --host=0.0.0.0
Restart=on-failure

[Install]
WantedBy=multi-user.target